
<div class="footer">
  <div class="container footerdata">
<p>©Sama Speed</p>
        <!-- <h2>contact</h2>
        <ul>
            <li><i class="fa-solid fa-phone"></i></li>
            <li><i class="fa-brands fa-whatsapp"></i></li>
            <li><i class="fa-regular fa-envelope"></i></li>
            <li><i class="fa-solid fa-location-dot"></i></li>
        </ul> -->
        <div class="icons">
          <ul class="list-unstyled">
            <li>
              <a routerLink="contact"><i class="fa-regular fa-envelope"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/samaspeedofficial?mibextid=JRoKGi" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/samaspeed" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://wa.me/201068375542" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>

            </li>

          </ul>
        </div>
      </div>
  </div>

