<section id="contact">
  <div class="container">
    <div class="row">
      <div class="left col-lg-6">
        <div class="left-title mb-5">
          <h2>Send message to us</h2>
        </div>
        <form class="form" action="#" method="post">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <input class="w-100 input" type="text" placeholder="Your name" name="name" required />
            </div>
            <div class="col-sm-12 mb-3">
              <input class="w-100 input" type="email" placeholder="Your e-mail" name="email" required />
            </div>
            <div class="col-sm-12 mb-3">
              <input class="w-100 input" type="text" placeholder="Subject" name="subject" required />
            </div>
            <div class="col-sm-12 mb-3">
              <textarea name="message" class="w-100" placeholder="Message" cols="30" rows="5" required></textarea>
            </div>
            <div class="button mb-3">
              <button type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
      <div class="right col-lg-6">
        <div class="right-title mb-5">
          <h2>Get in touch</h2>
        </div>
        <div class="content">
          <p class="lead">
            We'd love to hear from you! Whether you have a question about our services, want to discuss a potential collaboration, or simply want to say hello, don't hesitate to reach out. Our team is here to assist you and provide the information you need. Feel free to fill out the contact form below, send us an email, or give us a call. We're committed to responding promptly and ensuring your experience with us is seamless. Let's connect and explore how we can work together to achieve your goals.
          </p>
        </div>
        <div class="info">
          <ul class="list-unstyled">
            <li>
              <p><i class="fa-solid fa-location-dot"></i> Cairo, Egypt</p>
            </li>
            <li>
              <p><i class="fa-solid fa-mobile-screen-button"></i> (+2) 01202080825, 01032836295, 01023292432</p>
            </li>
            <li>
              <p><i class="fa-regular fa-envelope"></i> samaspeedofficial@gmail.com</p>
            </li>
          </ul>
        </div>
        <div class="icons">
          <ul class="list-unstyled">
            <li>
              <a href="https://www.facebook.com/samaspeedofficial?mibextid=JRoKGi" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/samaspeed" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
