<div id="ourservices">
  <div class="title text-center">
    <div class="mb-2">
      <h2>Our Services</h2>
    </div>
    <div class="mb-4 ptitle position-relative">
      <p class="lead">what we can do for you</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-0 p-0 servicesImage">
        <img src="../../assets/services.png" alt="" class="w-100 " />
      </div>
      <div class="col-lg-6">
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    class="card-img-top d-inline"
                    src="../../assets/Icons/box.png"
                    alt=".."
                  />
                  Packaging
                </h5>
                <p class="card-text">
                  We provide packaging services to ensure your products
                  are properly protected during shipping and storage.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body ">
                <h5 class="card-title">
                  <img
                    class="card-img-top d-inline"
                    src="../../assets/Icons/shield.png"
                    alt=".."
                  />
                  Privacy
                </h5>
                <p class="card-text">
                  We ensures a swift and secure delivery, implementing
                  rigorous security protocols at every stage of the
                  shipping process.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card ">
              <div class="card-icon"></div>
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="../../assets/Icons/egypt.png"
                    className="card-img-top d-inline"
                    alt=""
                  />
                  All Over Egypt
                </h5>
                <p class="card-text ">
                  Offers a full coverage delivery experience with +20 Governorate all over Egypt and counting.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body ">
                <h5 class="card-title">
                  <img
                    class="card-img-top d-inline"
                    src="../../assets/Icons/delivery-truck.png"
                    alt="..."
                  />
                  Fast Shipping Services
                </h5>
                <p class="card-text ">
                  Speed and reliability converge to deliver the fastest
                  courier and shipping services.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
