
      <div class=" vh-100 home">
        <div class="container homeContainer vh-100">
          <div class="title">
            <h1>Welcome to the world of Sama Speed</h1>
            <p>
              Where speed and reliability converge to deliver the fastest
              courier and shipping services.
            </p>
            <a routerLink="about">
            <button class="btn homeBtn">About Us</button>
          </a>
          </div>
          <div class="image">

            <img src="../../assets/homeimg.png"alt="" class="w-100 "/>
          </div>
        </div>
      </div>
      <div><app-our-services></app-our-services></div>
